<!DOCTYPE html>
<html lang="ru" class="page">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Стоматология докторов Копыловых | <!--#echo var="title" --></title>
  <meta name="description" content="Стоматологическая клиника в центре Москвы. Семейная стоматология докторов Копыловых. Находимся по адресу г. Москва, ул. Пречистенка д. 33/19 стр.1">
  <link rel="preload" href="/fonts/GothamPro.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GothamPro-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GothamPro-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GothamPro-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Montserrat.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/main.css">
  
  <script defer src="/js/main.js"></script>
</head>
