

<header class="header">
  <div class="container header__container">

    <div class="header__flex">
      <div class="header__item header__item-logo">
       <a href="/"> <img src="/img/logo-header.jpg" alt="Логотип стоматологии докторов Копыловых"></a>
      </div>  
     
      <div class="header__item header__item-address">
         <span>Адрес:</span> 
         <br> 
         Москва, <br> 
          ул. Пречистенка д. 33/19 стр.1
      </div>
      <div class="header__item header__item-time">
          <span> Режим работы: </span> <br>
            Пн-Сб: 9:00 - 21:00 <br>
          Воскресенье выходной
      </div>
      <div class="header__item header__item-phone">
        <span>Телефон:</span> <br>
        <a href="tel:+74956375500" class="link__phone">+7 (495) 637-55-00</a> <br>
      <a href="tel:+74956375511">+7 (495) 637-55-11</a>  <br> 
      <a href="tel:+7 (495) 637-55-77">+7 (495) 637-55-77</a>
      </div>
    </div>
    <div class="burger__block">
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button> 
  </div>
  
  </div>
  <div class="header__bottom">
    <div class="container">
    <div class="header__bottom-flex">
    <nav class="nav" title="Главное меню" data-menu>
    <ul class="list-reset header__nav">
      <li><a href="/" class="header__nav-link header__nav-link_active">Главная</a></li>
      <li><a href="/uslugi.html" class="header__nav-link">Услуги</a></li>
      <li><a href="/about.html" class="header__nav-link">Клиника</a></li>
      <li><a href="/raboti.html" class="header__nav-link">Наши работы</a></li>
      <li><a href="/aktsii.html" class="header__nav-link">Акции</a></li>
      <li><a href="/price.html" class="header__nav-link">Цены</a></li>
      <li><a href="/contacts.html" class="header__nav-link">Контакты</a></li>
    </ul>
  </nav>



      <div class="header__socials">
        <div class="header__item"><a href="#"><img src="/img/socials-tg.png" alt="Телеграм"></a></div>
        <div class="header__item"><a href="#"><img src="/img/socials-vb.png" alt="Вайбер"></a></div>
        <div class="header__item"><a href="https://vk.com/club182648718" target="_blank"><img src="/img/socials-vk.png" alt="Вконтакте"></a></div>
      </div>
    </div>
  </div>
  </div>
</header>
